.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

#index-banner {
  background-image: url("../img/hero.jpg");
  text-align: left;
}

.tables {
  text-align: left;
}

/*.input-field_col_s6_m6 {
  align-content: center;
}*/
